@mixin flexLayout($justify: flex-start, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin floatLayout($position: left) {
  float: $position;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin closeIcon($width: 21px, $height: 21px, $color: #000) {
  color: $color;
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  width: $width;
  height: $width;

  &:before {
    content: "";
    position: absolute;
    top: 10px;
    width: $width;
    height: 2px;
    background-color: currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &:after {
    content: "";
    position: absolute;
    top: 10px;
    width: $width;
    height: 2px;
    background-color: currentColor;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
