@import "reset.scss";
@import "base.scss";
@import "mixins.scss";

/*
  Icons
*/

.loading-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loading-icon:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: lighten($main-font-color, 30%) transparent
    lighten($main-font-color, 30%) transparent;
  animation: loading-icon 1.2s linear infinite;
}
@keyframes loading-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* animation */
@keyframes show-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading-container {
  @include flexLayout(center);
  width: 100%;
  height: 100%;
  padding: 1rem 0;
}

#app {
  @include flexLayout(space-between, stretch, column);
  width: 100%;
  height: 100%;
}
#app.fixed {
  position: fixed;
}
header {
  position: fixed;
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  z-index: 1000;
}
footer {
  width: 100%;
  padding: 30px;
  color: #fff;
  background: darken($color: $main-font-color, $amount: 50%);
}
nav {
  width: 100%;
  height: 60px;
  .container {
    @include flexLayout(space-between, center);
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    .nav-logo {
      font: {
        size: 1.3rem;
        weight: 700;
      }
    }
    ul {
      @include flexLayout(center, baseline);
      li {
        margin: 0 0.6rem;
      }
      .edit-article {
        i {
          color: $main-font-color;
        }
      }
    }
  }
  .button-signup {
    border: 1px solid $point-color;
    border-radius: 6px;
    color: $point-color;
    padding: 10px 20px;
  }
}

main {
  flex: 1;
}

.home {
  height: 100%;
  padding-top: 64px;
}

.banner {
  @include flexLayout(center, center, column);
  min-height: 150px;
  padding: 1.5rem 0;
  h3 {
    font: {
      size: 2rem;
      weight: 900;
    }
    text-align: center;
    padding: 2rem 0;
  }
}
.article-list {
  padding: 0 0.5rem;
}
.article-preview {
  padding: 1rem 1.2rem;
  border-bottom: 1px solid #ddd;

  &:nth-child(2) {
    border-top: 1px solid #ddd;
  }

  .article-meta {
    @include flexLayout(flex-start);
    .profile-image {
      position: relative;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 8px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
      }
    }
    .info {
      font: {
        size: 1rem;
        weight: 500;
      }
      a {
        margin-bottom: 5px;
      }
      small {
        font-size: 0.9rem;
        color: lighten($color: $main-font-color, $amount: 50);
      }
    }
  }

  .preview-container {
    margin: 20px 0;
    h4 {
      font: {
        size: 1.3rem;
        weight: 700;
      }
    }
    .preview__description {
      padding: 1em 0;
    }
  }
}

/* modal */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  width: 100%;
}

.modal-container {
  position: relative;
  width: 80%;
  min-height: 400px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header {
  text-align: center;
  margin: 10px 0 20px;
  h3 {
    font: {
      size: 2rem;
      weight: 900;
    }
    margin: 10px 0;
    color: #42b983;
  }
  span {
    color: lighten($color: $main-font-color, $amount: 30%);
  }
}

.modal-body {
  margin: 20px 0;
}

.modal-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  @include closeIcon();
}

.error-message {
  width: 80%;
  margin: 0 auto 10px;
  li {
    @include flexLayout(flex-start, center);
    color: #e00f0f;
    margin: 5px 0;
    padding: 5px;
    animation: show-content 0.3s ease-in-out;
    i {
      margin-right: 5px;
    }
  }
}

/* form */

.modal-content {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .input-wrapper {
      position: relative;
      width: 80%;
      border: 2px solid lighten($color: $main-font-color, $amount: 80%);
      border-radius: 4px;
      margin: 10px 0;
      transition: all 0.2s ease-in;
      legend {
        position: absolute;
        top: -14px;
        left: 9px;
        background: #fff;
        color: lighten($color: $main-font-color, $amount: 80%);
        padding: 5px;
      }
      input {
        width: 100%;
        height: 40px;
        border: none;
        padding: 0 15px;
        background: #fff;
      }
      &.focus {
        border: 2px solid lighten($color: $main-font-color, $amount: 40%);
      }
    }
    .input-wrapper.focus {
      legend {
        color: lighten($color: $main-font-color, $amount: 40%);
      }
    }
  }
  .check-form-type {
    margin: 30px 0;
    a {
      color: $point-color;
    }
  }
  .submit-button {
    width: 80%;
    height: 44px;
    border: 2px solid lighten($color: $main-font-color, $amount: 80%);
    border-radius: 4px;
    margin-top: 20px;
    transition: all 0.2s ease-in;
    &:hover,
    &:focus {
      color: #fff;
      background: $point-color;
      border-color: $point-color;
    }
  }
  span {
    display: flex;
    justify-content: center;
    margin: 20px 0 10px;
    a {
      margin-left: 10px;
    }
  }
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
